<!-- <h1> Welcome to Minvik Technologies Private Limited</h1>
<button><a routerLink="/user"> User</a></button>
<br><br>
<button><a routerLink="/admin">Admin</a></button>
<router-outlet></router-outlet> -->

<!-- Pipe -->
<!-- 
<h2>Pipe in angular </h2>
<h2>{{name|lowercase}}</h2>
<h2>{{today | date}}</h2> -->


<!-- Function Call -->
<!-- <h1> Call function in angular</h1>
<button (click)="getName()"> get my name</button> -->


<!-- Events in angular -->
<!-- <h1>Important Events in Angular</h1>
<button (click)="myEvent('this is click event')">Click me</button>
<br><br>
<input type="text" (keyup)="myEvent('keyup event')" />
<br><br>
<input type="text" #box (keyup.enter)="myEvent('box.value')" /> -->

<!-- <div (mouseover)="myEvent('mouse in ')" style="background-color: blue;">
    Mouse Events
</div> -->



<!-- Property Binding -->
<!-- <h1>Property Binding in Angular</h1>
<input type="text" [disabled]="disabled" />
<br><br>
<input type="text" [disabled]="disabled" />
<br><br>
<button (click)="EnableBox()">Enable TextBox </button> -->

<!--  conditional statement -->
<!-- <h1> Condition in Angular</h1>
<div *ngIf="show else elseBlock">
    If block
</div>
<ng-template #elseBlock>
    <div> else block</div>
</ng-template> -->
<ng-template [ngIf]="show=='red'">
    <h1>red</h1>
</ng-template>
<ng-template [ngIf]="show=='Green'">
    <h1>Green</h1>
</ng-template>
<ng-template [ngIf]="show=='Yellow'">
    <h1>Yellow</h1>
</ng-template>